
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">

          <div class="row">
            <div class="offset-5">
              <button type="button" (click)="loadData()" class="btn btn-warning">查询</button>
              <button type="button" (click)="toAdd()" class="btn btn-warning">增加</button>
            </div>
          </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <ngx-datatable
        class="material"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows"
        [externalPaging]="true"
        [count]="pageNav.totalElements"
        [offset]="pageNav.page"
        [limit]="pageNav.itemsPerPage"
        (page)='setPage($event)'
        [scrollbarH]="true">
        <ngx-datatable-column name="id" [width]="30" prop="id"></ngx-datatable-column>

        <ngx-datatable-column name="名称" [width]="200" prop="user.username"></ngx-datatable-column>

        <ngx-datatable-column name="邮箱" [width]="300" prop="user.email"></ngx-datatable-column>

        <ngx-datatable-column name="手机号码" [width]="100" prop="user.mobile"></ngx-datatable-column>

        <ngx-datatable-column name="创建时间" [width]="200" prop="user.createdDate"></ngx-datatable-column>

        <ngx-datatable-column name="状态" [width]="100" prop="statusStr"></ngx-datatable-column>

        <ngx-datatable-column name="操作" [width]="300" [flexGrow]="1" prop="user.id">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button (click)="toEdit(value)" class="btn btn-warning">编辑</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>


