<div class="row">
  <div class="col-lg-12 col-sm-12 col-12">
     <div class ="row">
       <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-horizontal">

           <div class="form-group col-12">
             <label for="idName" class="col-3">名称</label>
             <div class="col-9">
               <input type="text" [formControl]="name" class="form-control" id="idName">
             </div>
           </div>
       </form>
      </div>
     <div class="row">
       <div class="offset-5 col-6">

           <button type="button" (click)="toEdit('')" class="btn btn-warning">增加企业</button>
           <button type="button" (click)="exportExcel()" class="btn btn-warning">导出</button>
           <button type="button" (click)="onSubmit(searchForm.value)" class="btn btn-warning">查询</button>

       </div>
     </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
          <ngx-datatable
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="rows"
            [externalPaging]="true"
            [count]="pageNav.totalElements"
            [offset]="pageNav.page"
            [limit]="pageNav.itemsPerPage"
            (page)='setPage($event)'
            [scrollbarH]="true">
            <ngx-datatable-column
              name="id" [width]="80" prop="id">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="名称"
              [width]="200"
              prop="name">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="系统代码"
              [width]="120"
              prop="sysCode">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="分类"
              [width]="100"
              prop="corpType.name">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="联系电话"
              [width]="100"
              prop="tel">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="联系邮箱"
              [width]="200"
              prop="email">
            </ngx-datatable-column>

            <ngx-datatable-column
              name="注册日期"
              [width]="120"
              prop="registedDate">
            </ngx-datatable-column>

            <ngx-datatable-column name="操作" [width]="300" [flexGrow]="1" [flexGrow]="1" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button (click)="toEdit(value)" class="btn btn-warning">编辑</button>
                <button (click)="toSet(value)" class="btn btn-warning">管理</button>
                <button (click)="toDelete(value)" class="btn btn-warning">删除</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

        </div>
      </div>

  </div>
</div>


