<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Inline form</nb-card-header>
      <nb-card-body>
        <div>
          <ngx-datatable
            ngx-datatable
            class="material fullscreen"
            style="top: 52px"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="50"
            [scrollbarV]="true"
            [scrollbarH]="true"
            [rows]="rows">
            <ngx-datatable-column name="name" [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Gender" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="Company"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

